.flexbox-inline {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

button {
    background-color: khaki;
    outline: solid 1px black;
    color: black;
}

main {
    text-align: center;
    margin-top: 20px;
}